.toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px; 
    gap: 10px;
    margin: 1rem 0;
    height: 40px;;
    .radio {
        display: none; 
        
      }
      label {
        position: relative; 
        padding-left: 30px; 
        cursor: pointer; 
        color: white; 
        font-size: 16px; 
        font-weight: 500;
      }
  }
  
 

  
  .radio + label::before {
    content: ''; // Creates the custom radio circle
    position: absolute;
    left: 0px; // Position on the left
    top: 50%; // Center vertically
    transform: translateY(-55%); // Adjust for height
    width: 14px; // Size of the circle
    height: 14px; // Size of the circle
    border: 2px solid #007BFF; // Circle border color
    border-radius: 50%; // Make it circular
    background-color: white; // Background color
    transition: background-color 0.2s; // Smooth transition for background
  }
  
  // Change the appearance when the radio is checked
  .radio:checked + label::before {
    background-color: #007BFF; // Change to active color
  }