$black: #262626;
$darkGray: #333333;
$lightGray: #5e5e5e;
$lighterGray: #808080;
$grayButton: #4F4F4F;
$contentWidth: 1068px;

$white: #FFFFFF;
$offWhite: #F2F2F2;
$darkWhite: #E8E8E8;
$grayText: #66667B;
$fretColor: #C9C9C9;
